body {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #159FD9 ;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.page-loading {
    display: flex;

    color: #187FBF;
    font-size: 6vw;
    font-family: lores-9-wide-bold-alt-oaklan, sans-serif;
}
